<div class="navbar">
    <div>
      Roberto Borges
    </div>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/list">Listings</a></li>
        <li *ngIf="!loggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="loggedIn"><a (click)="logout()">Logout</a></li>
        <li *ngIf="!loggedIn"><a routerLink="/signup">Sign Up</a></li>
        <li *ngIf="loggedIn"><a routerLink="/history">Booking History</a></li>
        <li *ngIf="isAdmin"><a routerLink="/admin">Admin Listings</a></li>
      </ul>
    </nav>
  </div>