<h1>Admin Dashboard<br/>Your Listings</h1>

<div class="test2">
  <button mat-raised-button routerLink="/addList" color="primary" >Add Listing</button>
</div>

<table mat-table [dataSource]="listings" class="mat-elevation-z8">

  <!-- PRICE COLUMN -->
  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element">$ {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="Lister">
    <th mat-header-cell *matHeaderCellDef> Lister </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef>ID : Title </th>
    <td mat-cell *matCellDef="let element">{{element.listing_id}}: {{element.listing_title}} </td>
  </ng-container>

  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element">{{element.street}}, {{element.city}}, {{element.postal_code}}</td>
  </ng-container>

  <div>
  <tr class="tableHead" mat-header-row *matHeaderRowDef="allColumns"></tr>
  <tr  mat-row *matRowDef="let row; columns: allColumns;"></tr>
  </div>
</table>